body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quiz-box {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  position: relative;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  margin: 1.2rem 0 1rem 0;
  font-size: 1.8rem;
  color: #333;
}

.frage {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #5a6268;
}

.resultat {
  margin: 0rem 0rem 1rem 0rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.resultat.correct {
  color: rgb(14, 119, 14)
}

.resultat.wrong {
  color: rgb(120, 9, 9);
}

.score {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  color: #333;
  background-color: #eaeaea;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}